@page "/cars/{CarId}"
@using CarCompanion.Shared.Contract.V1.Responses.Car
@using CarCompanion.Shared.Results
@using CarCompanion.UI.Services.Interfaces
@using CarCompanion.UI.Components.Car
@using CarCompanion.UI.Components.UI
@using CarCompanion.UI.Components

@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject ICarService CarService

@if (result == null)
{
    <LoadingSpinner />
}
else
{
    @if (result.Success)
    {
        <div class="d-flex flex-row car-page-content">

            <div class="w-50">
                <Card>
                    <CardBody>
                        <CardText>
                            <div class="car-title-image">
                                <img src="https://www.wyborkierowcow.pl/wp-content/uploads/2020/08/Alfa-Romeo-Giulia-2020-1024x535.jpg" Alt="Car image">
                                @result.Data.MainName
                            </div>
                            
                            <hr>

                            <div class="car-info">
                                Brand: @result.Data.Brand
                            </div>
                            <div class="car-info">
                                Model: @result.Data.Model
                            </div>
                            <div class="car-info">
                                Generation: @result.Data.Generation
                            </div>
                            <div class="car-info">
                                Plate: @result.Data.Plate
                            </div>
                            <div class="car-info">
                                Mileage: @result.Data.Mileage
                            </div>
                            <div class="car-info">
                                Production year: @result.Data.ProductionYear
                            </div>
                        </CardText>
                        
                        <hr>
                        
                        <EditCar CarId=@CarId />
                        <DeleteCar CarId=@CarId />
                        
                    </CardBody>
                </Card>
            </div>

            <div class="flex-fill">
                <Expenses CarId=@CarId />
            </div>

        </div>
    }
    else
    {
        <p>You might not have access to this XD resource</p>
    }
}

@code {

    [Parameter]
    public string CarId { get; set; }

    private ServiceResult<GetCarByIdResponse> result;

    protected override async Task OnInitializedAsync()
    {
        if (!await AuthService.IsAuthorizedAsync())
        {
            NavigationManager.NavigateTo("Login");
        }

        result = await CarService.GetCarByIdAsync(CarId);
    }

}