@page "/cars/{CarId}"
@using CarCompanion.Shared.Contract.V1.Responses.Car
@using CarCompanion.Shared.Results
@using CarCompanion.UI.Services.Interfaces
@using CarCompanion.UI.Components.Car
@using CarCompanion.UI.Components

@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject ICarService CarService

@if (result == null)
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    @if (result.Success)
    {
        <div class="d-flex flex-row car-page-content">

            <div>
                <Card>
                    <CardBody>
                        <CardText>
                            <div class="d-flex">
                                <div class="car-title-image">
                                    <img src="https://bi.im-g.pl/im/60/c8/17/z24937568Q,Opel-Corsa-2020.jpg" Alt="Car image">
                                </div>
                                <div class="car-title-text">
                                    <h1>
                                        @result.Data.MainName
                                    </h1>
                                </div>
                            </div>

                            <hr>

                            <div class="car-info">
                                Brand: @result.Data.Brand
                            </div>
                            <div class="car-info">
                                Model: @result.Data.Model
                            </div>
                            <div class="car-info">
                                Generation: @result.Data.Generation
                            </div>
                            <div class="car-info">
                                Plate: @result.Data.Plate
                            </div>
                            <div class="car-info">
                                Mileage: @result.Data.Mileage
                            </div>
                            <div class="car-info">
                                ProductionYear: @result.Data.ProductionYear
                            </div>
                        </CardText>
                        <hr>
                        <a class="btn btn-primary" href="" role="button">Edit</a>
                        <DeleteCar CarId=@CarId />
                    </CardBody>
                </Card>
            </div>

            <div class="flex-fill">
                <Expenses CarId=@CarId />
            </div>

        </div>
    }
    else
    {
        <p>You might not have access to this XD resource</p>
    }
}

@code {

    [Parameter]
    public string CarId { get; set; }

    private ServiceResult<GetCarByIdResponse> result;

    protected override async Task OnInitializedAsync()
    {
        if (!await AuthService.IsAuthorizedAsync())
        {
            NavigationManager.NavigateTo("Login");
        }

        result = await CarService.GetCarByIdAsync(CarId);
    }

}